<div ng-controller="View1Ctrl">
    <section id="content">
        <div class="for_banners">
            <article class="col1">
                <div class="tabs">
                    <ul class="nav">
                        <li class="selected"><a href="#Flight">Flight</a></li>
                    </ul>
                    <div class="content" >
                        <div class="tab-content" id="Flight" style="margin-bottom:-60px;">
                            <form id="form_1" method="post" >
                                <div>
                                    <div class="radio">
                                        <div class="wrapper">
                                            <span class="left"></span>
                                            <span class="left"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <span class="left">From</span>

                                        <input id="searchFrom" class="input" class="awesomplete" list="mylist">
                                        <datalist id="mylist">
                                            <option label="Copenhagen">CPH</option>
                                            <option label="London">STN</option>
                                            <option label="Berlin">SXF</option>
                                            <option label="Paris">CDG</option>
                                            <option label="Barcelona">BCN</option>
                                        </datalist>
                                    </div>
                                    <div class="row">
                                        <span class="left">To</span>
                                        <input id="searchTo" type="text" class="input" class="awesomplete" list="mylist">

                                    </div>
                                    <div class="wrapper">
                                        <div >
                                            <div class="row">
                                                <span class="left">Departure Date</span>

                                                <input id="departureDate" type="text" class="input"  value="2016-05-16"  onblur="if (this.value == '')
                                                                            this.value = '2016-04-27'" onFocus="if (this.value == '2016-04-27')
                                                                                                        this.value = ''">
                                                

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <span class="left">Number of seats</span>
                                        <input id="tickets" type="text" class="input2" value="2"  onblur="if (this.value == '')

                                                                    this.value = '2'" onFocus="if (this.value == '2')
                                                                                                this.value = ''">

                                    </div>
                                    <div class="wrapper">
                                        <span class="right relative"><a href="" class="button1" ng-click="search()"><strong>Search</strong></a></span>
                                    </div>
                                </div>
                            </form>
                        </div>



                    </div>
                </div> 
            </article>
            <div id="slider">
                <img src="images/banner1.jpg" alt="">
                <img src="images/banner2.jpg" alt="">
                <img src="images/banner3.jpg" alt="">
            </div>
        </div>






        <div id="result">



            <ul ng-repeat="f in test">

                <li><h4 style="background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); opacity: 0.95;" >{{f.flightOffer.airline}}</h4></li>

                <div style="background-color: #B6B6B4;">   

                    <ul ng-repeat="b in f.flightOffer.flights| myFilter">
                        <ul ng-repeat="(x, z) in b">
                            <li> {{x}}: {{z}} </li>    

                        </ul>

                        <button ng-click="switchPage(f.url, b.flightID)" >Choose</button> 


                        <br>
                        <br>
                    </ul>


                    
                </div>
                <br>
                <br>


            </ul>
            <br>
            <br>


        </div>
        <div id="resulterrormessage" style="color:red; font-size: 18px;" ></div>

        <div id="bookingPage" style="background-color: grey">

            <form ng-submit="bookvacation()">
                <h1>RESERVATION FORM</h1>
                <br>
                <br>
                <br>
                <br>
                <p>NAME<input id="name" type="TEXT" size="20" maxlength="99" /></p>
                <p>EMAIL<input id="email" type="email" size="30"  maxlength="99" /></p>
                <p>TELEPHONE<input id="phone" type="number" ></p>
                <input type="number" id="member" name="member" value="">Number of passengers<br>
                <a href="" id="filldetails" onclick="addFields()">Add passenger info</a>
                <div id="passengers"></div>


                <br/><br/>
                <h4 id="errormessage_view1" style="color: #b20000;"></h4>
                <input type="submit" value="Book" ng-show="isAuthenticated" >
                <p ng-show="!isAuthenticated">You need to be logged in to book a flight.</p>
            </form>


        </div>




    </section>
</div> 

